

html {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    display: initial;
  }

body { 
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.61) 0%, rgba(53, 51, 205, 0.61) 100%), url('/resources/background-movie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    margin: 0;
}

/* Header */

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


#icon {
    width: 3.75rem; 
    height: 3.75rem; 
    border: 5px solid white; 
    margin: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    margin: 0.5rem;

  }

/* Main */

.container {
    height: 15.625rem;
    width: 37.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255,145,77);
    text-align: center;
    
}

.movie-quote {
    padding: 1rem;
    margin: 2rem;
}
.p {
    color: #333;
}

button {
    background-color: #ffffff;
    color: #333;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;

}

button:hover {
    box-shadow: 0 0 10px rgb(255,145,77)
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem 0; 
}

.social-media {
    display: inline-block;
}

.social-media i {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    margin: 0 0.5rem; 
}
